@import "assets/variable";

.main-wrapper {
    margin: 0;
    padding: 0;
    display: flex;

    .main-content {
        height: 100vh;
        width: 100%;
        background-color: $light;
    }
}

@media (max-width: $sm) {
    .main-wrapper {
        flex-direction: column;
    }
}